.homepageReviews {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 75px;
    background-color: #7993A0;
    color: white;
    text-align: left;
}

.homepageReviews > h1 {
    text-align: center;
}
.clientsays {
    text-align: left;
    margin-left: 3em;
    margin-right: 3em;
}
.Carousel{
    text-align: left;
    margin-left: 4em;
    margin-right: 4em;    
}


.reviewSection {
    margin-top: 5em;
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 2em;
    margin-bottom: 5em;
    background-color: #cbd7da;
    text-align: left;    
}



.cl_review {
    font-size: 16px;
    padding: .5em;
}

.border-line {
    display:block;
    border:none;
    /* color:white; */
    height:1px;
    /* background:black; */
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

.fadeIn {
    transition: ease-in-out 5s;
}

