/*General Styling*/
.App {

  text-align: center;
  font-size: 18px;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

/*Header*/

main {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background-color: #cbd7da;
  /* background-color: white; */
}

.logo {
  width: 225px;
  height: 225px;
  float: left;
  clear: right;
  padding: .5em;
}

header {
  width: 100%;
  background-color: #cbd7da;
  box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.75);
  margin-left: 1em;
  margin-right: 1em;

}

/*Navigation*/


/* no underline on links */
a{
  text-decoration: none;
}

.nav {
  position: fixed;
  top: 0;
  margin-top: auto;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3a515c;
  z-index: 500;
}

.nav > h4 {
  text-decoration: none;
  position: absolute;
  left: 0;
  margin: 0 2em;
 
}
.logo-sm-tail {
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 12em;
    clear: right;
    padding: .5em;
}

nav > a {
  margin-right: 1em;
  padding: 0 .4em;
}

.nav > a:link, .subMenu > a:link, .homepageAbout > div > a:link,  .nav > h4 > a:link {
  color: white;
}

.nav > a:visited, .subMenu > a:visited, .homepageAbout > div > a:visited,  .nav > h4 > a:visited {
  color: white;
}

.nav > a:hover, .subMenu > a:hover, .homepageAbout > div > a:hover,  .nav > h4 > a:hover {
  color: #f5d000;
}
.pawicon {
  color: #cbd7da;
}

/*Homepage Content Styling*/
.titleblock {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 75px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Lobster", cursive;
}
.titleblock > div {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #cbd7da;
  align-content: center;
}

.ophours {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  margin-bottom: 6em;
  padding-top: 4em;
  padding-bottom: 4em;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Lobster", cursive;
  background-color: #7993A0;
}
.ophours > div {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  /* align-content: center; */
}


.groominginfo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  margin-bottom: 6em;
  padding-top: 4em;
  padding-bottom: 4em;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Lobster", cursive;
  background-color: #cbd7da;
}
.groominginfo > div {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}


.galleryinfo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Lobster", cursive;
  background-color: #7993A0;
}
.galleryinfo > div {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}


.contactinfo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Lobster", cursive;
  background-color: #cbd7da;
}
.contactinfo > div {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.reviewinfo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Lobster", cursive;
  background-color: #7993A0;
}

.reviewinfo > div {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}


/*General Styling for About, Services Headers*/

.pagetitle {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 20px;
  background-color: #cbd7da;
  font-family: "Lobster", cursive;
 
}

.about {
  margin-top: 5em;
  padding-left: 2em;
  padding-bottom: 35em;
  padding-top: 1em;
  background-color: #cbd7da;
  text-align: left;
}

.services {
  margin-top: 5em;
  padding-bottom: .5em;
  padding-top: 1em;
  text-align: left;
  font-family: 'Lobster", cursive';
}

.services > h1, .services > h3, .services > h2 {
  font-family: 'Lobster", cursive';
  text-align: center;
  padding-top: 1px;
}

.ownerPic {
  display: block;
  float: right;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 20px;
  width: 45%;
}

/*Contact Page Styling*/
.contact {
  margin-top: 5em;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #cbd7da;
}

.info {
  font-size: 18px;
  line-height: 12px;
}

.contactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactForm > label {
  float: left;
  text-align: left;
  margin-bottom: 10px;
}

.contactForm > label > input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40em;
  padding: .2em;
  justify-content: center;
 }

 .contactForm > textarea {
  width: 40em;
  margin-top: 1em;
}

.contactForm > button {
  margin-top: 1em;
  padding: 1em;
  width: 12em;
  margin-bottom: 5em;
  color: white;
  background-color: #3a515c;
}



