body {
  margin: 0px;
  padding: 0;

  background-color: white;
  color: white;
  overflow-x: hidden;
  background-image: url('../src/assests/images/paw_print.png');
  background-repeat: repeat;
  background-size: 500px 500px;
  
}

